body{
    background: url(img/weatherBachground.jpg);
    color: aliceblue;
    
}
.btn{
    background-color: white;
    color: rgb(0, 0, 0);
}

.transperent{
  /* From https://css.glass */
background: rgba(44, 68, 86, 0.49);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(44, 68, 86, 0.3);
}
.Space{
  position: relative; 
  left: 25px;
}